body{
    background-color: rgb(13, 224, 231);
    height: 50vh;
    
}

.loginpage{

    /* display: flex; */
    /* justify-content: center; */
    /* margin: 100px; */
    background-color: pink;
    padding: 42px;
    border-radius: 20px;
    padding: 42px;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 400px;
    margin-right: 400px;

}
input{
    padding: 15px;
    background-color:#3e5493;
}
button{
    padding: 7px;
    border-radius: 13px;
    background-color: rgb(248, 20, 127);
}
.mzg{
    color: red;

}